@page
@model eLearning_Admin.Pages.CertificateTemplates.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CertificateTemplate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateTemplate.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CertificateTemplate.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateTemplate.HTMLFilePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CertificateTemplate.HTMLFilePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateTemplate.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CertificateTemplate.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateTemplate.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CertificateTemplate.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateTemplate.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CertificateTemplate.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CertificateTemplate.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
