@page
@model eLearning_Admin.Pages.Admins.IndexModel
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <h1>المشرفين</h1>
    <hr />
    <a asp-page="Create" class="btn btn-primary">اضافة مشرف جديد</a>

    <table class="table">
        <thead>
            <tr>
                <th>الاسم</th>
                <th>البريد الالكتروني</th>
                <th>رقم الهاتف</th>
                <th>اجراء</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Admins)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success">تعديل</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
