@page
@model eLearning_Admin.Pages.ZoomLessons.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>جميع الحصص عبر زووم</h1>
<a asp-page="Create" class="btn btn-primary my-3">اضافة درس جديد</a>

<table class="table table-stripe">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZoomMeeting[0].ZoomMeetingId)
            </th>
            <th>وقت البداية</th>
            <th>الحصة</th>
            <th>المعلم</th>
            <th>الطالب</th>
            <th>تاريخ الانشاء</th>
            <th>اجراء</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ZoomMeeting) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ZoomMeetingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.InstructorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a> 
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@item.Id">
                    حذف
                </button>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">تاكيد حذف الحصة</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                هل انت متاكد من حذف هذه الحصة؟
            </div>
            <div class="modal-footer">
                <form method="post">
                    <input type="hidden" id="deleteEntryId" name="deleteEntryId" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
                    <button type="submit" class="btn btn-danger">تأكيد الحذف</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteModal = document.getElementById('deleteModal');
            deleteModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const entryId = button.getAttribute('data-id');
                const input = document.getElementById('deleteEntryId');
                input.value = entryId;
            });
        });
    </script>
}
