@page
@model eLearning_Admin.Pages.GoogleMeetLessons.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GoogleMeetLesson</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GoogleMeetLesson.GoogleEventId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GoogleMeetLesson.GoogleEventId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GoogleMeetLesson.GoogleMeetURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GoogleMeetLesson.GoogleMeetURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GoogleMeetLesson.GoogleCalendarId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GoogleMeetLesson.GoogleCalendarId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GoogleMeetLesson.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GoogleMeetLesson.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GoogleMeetLesson.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GoogleMeetLesson.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GoogleMeetLesson.Lesson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GoogleMeetLesson.Lesson.InstructorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GoogleMeetLesson.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GoogleMeetLesson.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GoogleMeetLesson.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GoogleMeetLesson.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GoogleMeetLesson.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GoogleMeetLesson.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.GoogleMeetLesson.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
