@page
@model eLearning_Admin.Pages.GoogleMeetLessons.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GoogleMeetLesson[0].GoogleEventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoogleMeetLesson[0].GoogleMeetURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoogleMeetLesson[0].GoogleCalendarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoogleMeetLesson[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoogleMeetLesson[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoogleMeetLesson[0].Lesson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoogleMeetLesson[0].IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoogleMeetLesson[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoogleMeetLesson[0].UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GoogleMeetLesson) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GoogleEventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoogleMeetURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoogleCalendarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.InstructorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
