@page
@model eLearning_Admin.Pages.ContactForm.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>الاسم</th>
            <th>الايميل</th>
            <th>الهاتف</th>
            <th>اجراء</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ContactForm) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-danger">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
